<html>
<head></head>
<body>
<div id="div_chart"></div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    {{ gc_draw(histogram, 'div_chart') }}
</script>
</body>
</html>